<!DOCTYPE html>
<html lang="en">
  <!--Connects everything together-->
<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />

  <link rel="stylesheet" href="https://replitcss.replit.app/replit.css" />
  <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}" />

  <script defer src="https://replitcss.replit.app/replit.js"></script>
  
  <title>{% block title %}Flask Template{% endblock %}</title>
</head>
  
<body>
  {% include 'components/header.html' %}
  <main class="container">
    {% block content %}{% endblock %}
  </main>
</body>
  
</html>